torch>=1.8.1
pandas==1.4
dgl-cu111==0.6.1
torch-geometric
tqdm
networkx
geopandas
faiss-cpu
scikit-learn==1.0.2
seaborn
geatpy==2.7.0
numpy==1.23.4
geopy
dgl-cu111==0.6.1
gensim
pynvml
psutil
tensorboard
numpy_indexed
